@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$color-font: rgb(255, 255, 255);
$color-header: rgb(216, 241, 77);
$color-navbar: rgb(66, 83, 38);
$color-navbarhover: rgb(229, 248, 135);
$color-menuItems: rgb(245, 243, 232);
$color-main: rgb(241, 240, 240);
$color-border: rgb(216, 214, 214);
$color-toolbar: rgb(255, 255, 255);
$color-card: rgb(255, 255, 255);
$color-border-card: rgb(56, 56, 56);
$color-footer: rgb(247, 247, 181);
